body {
    background-color: #111;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 160px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
  }

  .sidenav a {
    padding: 20px 8px 6px 16px;
    text-decoration: none;
    font-size: 20px;
    color: #818181;
    display: block;
    border-bottom-style: solid;
    border-bottom-width: 5px;
    border-bottom-color: white;
    padding-bottom: 20px;  
    
  }

  a:hover {
    color: white;
  }

  #container{
    margin-left: 150px;
    margin-top: 75px;
    background-color: #f2f2f2;
    padding: 5px 20px 15px 20px;
    border: 1px solid lightgrey;
    border-radius: 3px;
    height: 500px;
}

.col{
    border: solid;
    border-color: #111;
}

.reimbursement{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.employee{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.btn {
    background-color: gray;
    color: white;
    margin: 10px 0;
    border: none;
    width: auto;
    border-radius: 3px;
    cursor: pointer;
    font-size: 17px;
    padding:auto;
    line-height: 1;
  }

  .btn:hover {
    background-color: #4d5e74;
  }

  h4{
      padding-left: 50px;
  }

